:root {
  --primary-light-color: #ffffff;
  --brand-normal-color: #2b7fff;
  --brand-dark-color: #011c44;
  --primary-dark-color: #4a4a4a;
  --secondary-light-color: #747272;
  --secondary-dark-color: #011f4a;
  --acsent-color: #ffd02b;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
