.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  z-index: 2;
  @media screen and (min-width: $bp-tablet) {
    padding: 32px 0;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.25);
  }
  &__container {
    display: flex;
    align-items: center;
  }
  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  &__mobile-logo {
    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
  &__desctop-logo {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }
  &__menu {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      gap: 32px;
      margin: 0 auto;
    }
    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 56px;
      margin: 0 auto;
    }
  }
  &__menu-link {
    color: var(--brand-dark-color);
    transition: color 0.3s;
    &:hover {
      color: var(--brand-normal-color);
      font-weight: 700;
    }
  }
  &__burger {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--primary-light-color);
    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
  &__icons {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      gap: 32px;
    }
  }
}
